<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" >
		<file value="..\\Logs\\LearningCSharp" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<datePattern value="_yyyyMMdd'.log'" />
		<staticLogFileName value="false" />
		<rollingStyle value="Composite"/>
		<maxSizeRollBackups value="-1"/>
		<maximumFileSize value="10MB"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<acceptOnMatch value="true" />
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff}&#9;%p&#9;%t&#9;%property{Ip}&#9;%property{Context}&#9;%property{ContextId}&#9;%c{1}&#9;%m%n" />
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff}&#9;%p&#9;%t&#9;%c{1}&#9;%m%n" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<acceptOnMatch value="true" />
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingLogFileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4net>